.div-vehicle-description {
  display: inline-block;
}

.div-vehicle-description .img-vehicle {
  width: 100%;
}

.div-vehicle-details {
  color: #4c96d7;
  padding-bottom: 50px;
}

.div-vehicle-details h2 {
  margin-block-end: 0;
}
.div-vehicle-details ul {
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
}

.div-vehicle-details .a-cta-btn {
  padding: 10px;
  margin-top: 5px;
  background-color: #4c96d7;
  color: #fff;
  border: 1px solid #000;
}

.div-vehicle-details .a-cta-btn:hover {
  background-color: #3f75a5;
}
.div-vehicle-extra {
  display: flex;
  flex-direction: column-reverse;
}

.div-upgrades-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.div-upgrades-buttons .div-upgrade-btn {
  display: flex;
  height: 100px;
  background-color: #4c96d7;
  flex: 0 45%;
  margin: 5px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.div-upgrade-btn a {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .div-vehicle-description {
    position: relative;
  }

  .div-vehicle-details {
    position: absolute;
  }

  .div-vehicle-extra {
    display: flex;
    flex-direction: row;
  }
}
