body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.muted {
    color: #8f8f8f;
    font-size: small;
    font-style: italic;
}

.red {
    color: red;
}

.green {
    color: green;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top a {
    color: #3a3a3a;
    margin-right: 30px;
}

nav {
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

.nav-item {
    color: white;
    padding: 15px;
}

.nav-item:hover {
    background-color: #a6cbeb;
    color: black;
}

.nav-item.active {
    color: #000;
    background-color: #4c96d7;
    padding-top: 10px;
    height: 30px;
    font-weight: bold;
}

header {
    font: bold calc(0.025 * (100vw)) 'Courier New', Courier, monospace;
}

.content {
    margin: 10px;
}

footer {
    margin: 30px 10px;
    padding: 10px 0 10px;
    border-top: 5px solid #000;
    text-align: center;
}

footer p {
    padding: 2px;
    margin: 0;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    body {
        background: url('../images/site/small_check.jpg');
    }

    .container {
        margin: 10px auto;
        width: 80%;
        border: 5px solid #4c96d7;
        border-radius: 10px;
        background-color: white;
    }
}
